---

layout: homepage

---

<div class="wrap">
  <div id="main" class="clearfix">
    <div id="content" class="full grid" style="width:100%;">


      <div id="projects" class="full homeSection clearfix">
        <h3><span>{{ site.title1 }}</span></h3>

        <div class="thumbs clearfix">

{% for project in site.data.projects %}

          <div class="project small 38" id="project-we" style="opacity: 1;">
            <div class="inside">
              <a href="#" rel="bookmark">
                <img width="300" height="175" src="{{ project.pic_url }}" class="thumb wp-post-image" alt="We Grow Cherries" title="We Grow Cherries">		<span class="title"><span>{{ project.name }}</span></span>
              </a>
            </div>
          </div>

{% endfor %}

        </div>
      </div>

      <div id="customer" class="full homeSection clearfix" style="display: none;">
        <h3><span>{{ site.title2 }}</span></h3>

        <div class="thumbs clearfix">

{% for customer in site.data.customer %}

          <div class="project small 38" id="project-we" style="opacity: 1;">
            <div class="inside">
              <a href="#" rel="bookmark">
                <img width="300" height="175" src="{{ customer.pic_url }}" class="thumb wp-post-image" alt="We Grow Cherries" title="We Grow Cherries">		<span class="title"><span>{{ customer.name }}</span></span>
              </a>
            </div>
          </div>

{% endfor %}

        </div>
      </div>

     <div id="customer" class="full homeSection clearfix" style="display: none;">
        <h3><span>{{ site.title3 }}</span></h3>

        <div class="thumbs clearfix">

{% for partener in site.data.parteners %}

          <div class="project small 38" id="project-we" style="opacity: 1;">
            <div class="inside">
              <a href="#" rel="bookmark">
                <img width="300" height="175" src="{{ partener.pic_url }}" class="thumb wp-post-image" alt="We Grow Cherries" title="We Grow Cherries">		<span class="title"><span>{{ partener.name }}</span></span>
              </a>
            </div>
          </div>

{% endfor %}

        </div>
      </div>

      <div id="featuredPages" class="full homeSection clearfix" style="display: none;">
        <h3><span>{{ site.title4 }}</span></h3>
        <div class="thumbs clearfix">

{% for servers in site.servers %}

          <div class="post-38 page type-page status-publish hentry small">
            <a class="thumb" href="#" rel="bookmark"><img width="300" height="105" src="{{ servers.pic_url }}" class="thumb wp-post-image" alt="HOME" title="HOME"></a>
            <h2><a href="#" rel="bookmark">HOME</a></h2>

            <h3>{{ servers.title }}</h3>
            <p> {{ servers.description }} </p>
          </div>
{% endfor %}
        </div>
      </div>

    </div>

  </div>
</div>
